h1 {
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

p {
    color: white;
    
}

body{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 50%;
    display: block;
}

.run{
    float: right;
    width: 700px;
    padding: 3px;
}

.game{
    float: right;
    width: 592px;
    padding: 48px;
}

.selfpic{
    float: left;
    width: 500px;
    padding: 3px;
}